# Rust
target/
# CodeQL
extractor/tree-sitter-lua/
extractor-pack/
.codeql/
ql/src/testing/
testing/
# CodeQL Testing Files / Folders
*.testproj/
*.actual

# VS Code specific (except for recommended settings)
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
